/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

 .testimonial-block {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.testimonial-block img {
    border-radius: 50%;
    margin-right: 20px;
}

.testimonial-content {
    max-width: 600px;
}

.testimonial-content h3 {
    font-size: 1.5em;
    margin: 0;
}

.testimonial-content p {
    font-size: 1em;
    color: #555;
}